{% extends "personal/header.html" %}
{% block content %}
<p><i>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Dinesh..!
i was completed an ENGG the year of 2017, And i have completed an Ethical Hacking & Internship in the institute of Ozone Cyber Security..,
Then i have to interested to learn python and Django, so i learn on youtube tutoriyals., And then create the this website for My knowladge.!
here the site has been powered by <b>Django</b>.  i have little knowledge in C,C++,PHP,HTML,SQL.here i have joining to target an C#,asp.net.
</i>  </p>
{% include 'personal/includes/htmlsnippet.html'%}
{% endblock %}